@font-face {
  font-family: 'Double-Medium';
  src: url('Double-Medium.eot');
  src: url('Double-Medium.eot?#iefix') format('embedded-opentype'),
       url('Double-Medium.woff2') format('woff2'),
       url('Double-Medium.woff') format('woff'),
       url('Double-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

