{{ define "main" }}
<main>
  <section class="lg:flex lg:flex-row lg:items-center flex-1 items-start items-start relative bg-red">
    <div class="relative w-full lg:w-1/2 bg-cover bg-center lg:bg-left-top bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/visuel-melina-pour-web.jpg')">

      <div class="caption | absolute bottom-0 right-0 text-xs m-3 opacity-50 pointer-events-none">Illustration &copy; Mélina Verrier</div>
    </div>

    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:pt-20 text-lg md:text-xl lg:text-body-fluid lg:text-body-fluid lg:order-first leading-snug content">
      <h1 class="font-display text-4xl lg:text-5xl xxl:text-6xl mb-8">{{ .Site.Title }}</h1>
      {{ .Content }}
    </div>
  </section>

  {{ with .GetPage "theme" }}
  <section id="theme"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative bg-black text-white">
    <div class="w-full lg:w-1/2 bg-cover bg-top lg:bg-left-top bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/blocs-de-jeu-1.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid lg:order-first leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </section>
  {{ end }}

  {{ with .GetPage "comite/colloque" }}
  <section id="comite"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative text-indigo">
    <div class="w-full lg:w-1/2 bg-cover bg-left-top lg:bg-right-top bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/blocs-de-jeu-2.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </section>
  {{ end }}

  {{ with .GetPage "comite/scientifique" }}
  <section id="comite-scientifique"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative text-red">
    <div class="w-full lg:w-1/2 bg-contain bg-left lg:bg-right bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/dualisme.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid order-first leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </section>
  {{ end }}

  {{- with .GetPage "programme" }}
  <section id="programme" class="lg:flex lg:flex-row flex-1 items-start items-start relative bg-red text-beige">
    <div class="w-full lg:w-1/2 bg-cover bg-center lg:bg-left-top bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/oeil.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid order-first leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </section>
  {{ end -}}

  {{ with .GetPage "repas" }}
  <section id="repas"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative bg-indigo text-white">
    <div class="w-full lg:w-1/2 bg-cover bg-center lg:bg-right-top bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/espace-de-travail.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid  leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </section>
  {{ end }}

  {{ with .GetPage "activites-sociales" }}
  <section id="activites-sociales"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative">
    <div class="w-full lg:w-1/2 bg-contain bg-left-center lg:bg-left-top bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/disc-jockey.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid leading-snug content text-orange">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </section>
  {{ end }}

  {{ with .GetPage "transport" }}
  <section id="transport"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative">
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
    <div class="w-full lg:w-1/2 bg-cover bg-center lg:bg-right-top bg-no-repeat lg:order-first min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/la-plaine.svg')">
    </div>
  </section>
  {{ end }}

  {{ with .GetPage "hebergement" }}
  <section id="hebergement"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative bg-green">
    <div class="w-full lg:w-1/2 bg-cover bg-center lg:bg-left-top bg-no-repeat min-h-screen" style="background-image: url('/img/illustrations/le-territoire.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid lg:order-first leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </section>
  {{ end }}

  <section id="collines"
           class="lg:flex lg:flex-row flex-1 items-start items-start relative bg-green">
    <div class="w-full lg:w-1/2 bg-cover bg-center lg:bg-left-top bg-no-repeat min-h-screen" style="background-image: url('/img/illustrations/le-territoire.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid lg:order-first leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Site.Title }}</h1>
      {{ .Content }}
    </div>
  </section>

  <section class="lg:flex lg:flex-row flex-1 items-start items-start relative bg-indigo text-white">
    <div class="w-full lg:w-1/2 bg-cover bg-center lg:bg-left-top bg-no-repeat min-h-screen lg:sticky lg:top-0 self-start" style="background-image: url('/img/illustrations/planete-bleue.svg')">
    </div>
    <div class="lg:w-1/2 px-8 lg:px-12 py-10 lg:py-16 text-lg md:text-xl lg:text-body-fluid order-first leading-snug content">
      <h1 class="font-display text-4xl lg:text-6xl mb-8">{{ .Site.Title }}</h1>
      {{ .Content }}
    </div>
  </section>

</main>
{{ end }}
