@font-face {
  font-family: 'Double';
  src: url('/fonts/double/Double-Medium.eot');
  src: url('/fonts/double/Double-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/double/Double-Medium.woff2') format('woff2'),
       url('/fonts/double/Double-Medium.woff') format('woff'),
       url('/fonts/double/Double-Medium.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

