@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-Light.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-Light.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-Light.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-LightItalic.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-LightItalic.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-LightItalic.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-LightItalic.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-Regular.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-Regular.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-Regular.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-Italic.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-Italic.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-Italic.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

/*
@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-Demi.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-Demi.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-Demi.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-Demi.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-Demi.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-DemiItalic.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-DemiItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-DemiItalic.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-DemiItalic.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-DemiItalic.ttf')  format('truetype');
  font-weight: 600;
  font-style: italic;
}
*/

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-Bold.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-Bold.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-Bold.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: 700;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-BoldItalic.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-BoldItalic.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-BoldItalic.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-BoldItalic.ttf')  format('truetype');
  font-weight: 700;
  font-style: italic;
}

/*
@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-Black.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-Black.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-Black.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-Black.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/ilisarniq/Ilisarniq-BlackItalic.eot');
  src: url('/fonts/ilisarniq/Ilisarniq-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ilisarniq/Ilisarniq-BlackItalic.woff2') format('woff2'),
       url('/fonts/ilisarniq/Ilisarniq-BlackItalic.woff') format('woff'),
       url('/fonts/ilisarniq/Ilisarniq-BlackItalic.ttf')  format('truetype');
  font-weight: 900;
  font-style: italic;
}
*/

