{{ define "main" }}
<main class="flex-1 px-6 md:px-8 lg:px-10 pt-16 pb-20 mt-4 sm:mt-16 max-w-5xl mx-auto">
  <h1 class="text-4xl md:text-5xl lg:text-7xl mb-10">{{ .Title }}</h1>

  <article class="text-xl md:text-2xl leading-relaxed content">
    {{ .Content }}
  </article>
</main>
{{ end }}