/* purgecss start ignore */
@import "fonts/ilisarniq.css";
@import "fonts/double.css";


@variants responsive {
  .text-body-fluid {
    font-size: 1.45vw;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  @apply bg-black;
  @apply text-white;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
  font-weight: 600;
  @apply leading-none;
  margin-bottom: 1rem;
}

.content {
  
  h2 {
    @apply text-3xl;
    @screen md {
      @apply text-4xl;
    }
    @apply mt-10;
  }
  
  h3 {
    @apply text-xl;
    @screen md {
      @apply text-2xl;
    }
    @apply mt-8;
  }
  
  p,
  ul,
  ol,
  blockquote {
    margin-bottom: 1em;
  }
  
  a {
    @apply underline;
    /* some long URLs can overflow on small screens*/
    @apply break-words;
    
    &:hover {
      @apply no-underline;
    }
  }
  
  hr {
    @apply my-8;
    color: inherit;
    border-top-color: currentColor;
  }
    
  ul {
    margin-bottom: 1em;
    padding-left: 1.35em; /* Assuming em dash */
    position: relative;

    li {
      &::before {
        left: 0;
        position: absolute;
        content: '—';
        margin-right: 0.15em;
      }
    }

    p {
      display: inline;
    }
  }
  
  /* also inside .footnotes */
  ol {
    @apply list-decimal;
    @apply list-inside;
    
    p {
      display: inline;
    }
  }
}

.footnotes {
  @apply text-base;
  @apply mt-20;
}

.animate-rotate-infinite {
  animation: rotate 15s linear infinite reverse;
  
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
/* purgecss end ignore */