<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
<meta name="msapplication-TileColor" content="#D55252">
<meta name="theme-color" content="#ffffff">